@import "../../../../vars";

.modal {
  position: absolute;
  top: 54%;
  left: 100%;
  transform: translate(-110%, -50%);
  z-index: 700;
  width: 500px;
  padding: 25px 25px;
  @include font-family("DIN Bold");
  color: $primaryColor !important;
  background-image: url("/assets/images/modal_background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  .close-icon {
    position: absolute;
    right: 25px;
    top: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  .background-modal-image {
    position: absolute;
    z-index: -1;
    height: 105%;

    width: 100%;
  }
  .city-name {
    color: $black;
    position: absolute;
    top: -35px;
    left: 80px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2.5px;
    @include font-family("DIN Bold");
    text-transform: uppercase;
    background: $problemColor;
    padding: 5px 10px;
    &::before {
      z-index: -1;
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: inherit;
      -webkit-transform: skewX(20deg);
      -moz-transform: skewX(20deg);
      -ms-transform: skewX(20deg);
      transform: skewX(20deg);
    }
  }

  .modal-content {
    padding: 10px 20px 56px;
    z-index: 600;
    .main-info {
      position: relative;
      display: flex;
      gap: 5px;
      flex-direction: column;
      .name {
        font-size: 18px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 3.45px;
        text-transform: uppercase;
      }
      .info {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .contact-info {
      min-height: auto;
      padding: 30px 0;
      position: relative;
      background-image: url("/assets/images/modal-info-border-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      .item-contact {
        display: flex;
        align-items: center;
        gap: 10px;
        @include font-family("Montserrat");
        font-weight: 300;
        img {
          margin-left: -5px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    animation-name: showContent;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    bottom: 130px !important;
    font-size: 0.85rem !important;
    left: 50% !important;
    top: unset !important;
    max-width: calc(100% - 1rem);
    padding: 1rem;
    transition: bottom 0.5s ease-in-out;

    &.minimize {
      bottom: -220px !important;
    }

    &.hide {
      display: none;
    }

    .city-name {
      font-size: 14px !important;
      top: -30px !important;
      left: 56px !important;
      padding: 1px 10px !important;
    }
    .close-icon {
      right: 0px !important;
      top: -30px !important;
    }

    .minimize-icon {
      position: absolute;
      right: 30px !important;
      top: -30px !important;
    }

    .contact-info {
      background-image: unset !important;
      padding: 0.8rem 0 !important;
      .item-contact {
        img {
          max-height: 18px;
        }
      }
    }

    .modal-content {
      padding: 10px 20px 40px !important;
      .main-info {
        .name {
          font-size: 0.95rem !important;
          letter-spacing: unset !important;
        }
      }
    }
  }
}

@media screen and (max-width: 345px) {
  .modal {
    font-size: 0.7rem !important;

    .call-action {
      margin-top: 10px !important;
      button {
        font-size: 0.65rem !important;
        line-height: unset !important;
      }
    }
  }
}

// Opening modal animation
@keyframes showContent {
  from {
    transform: translate(-50%, 200%);
  }
  to {
    transform: translate(-50%, 25%);
  }
}
