@import "../../../../vars";

.mobile-icon-back {
  display: none;
}

.main-container {
  display: flex;
  z-index: 701;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .content-wrapper {
    max-height: 85%;
    width: 60%;
    position: relative;
    display: flex;
    background-image: url("/assets/images/frame.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    .background {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    .content {
      padding: 40px 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: $primaryColor;
      .back-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .problem-name {
        @include font-family("DIN Bold");
        font-weight: 700;
      }

      .id-truck {
        font-size: 14px;
      }
      .tag-header {
        font-size: 14px;
        line-height: 20px;
        color: $black;
        width: fit-content;
        letter-spacing: 2.5px;
        @include font-family("DIN Bold");
        text-transform: uppercase;
        background: $primaryColor;
        padding: 2px 20px;
        z-index: 1;
        position: relative;
        &::before {
          z-index: -1;
          content: "";
          position: absolute;
          left: 0px;
          top: 12px;
          width: 100%;
          height: 100%;
          background-color: $primaryColor;
          width: 0;
          height: 0;
          border: 0 solid transparent;
          border-right-width: 12px;
          border-left-width: 0px;
          border-bottom: 12px solid $black;
        }
      }

      .details {
        display: flex;
        gap: 15px;
        .details-item {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          width: 50%;
          padding-top: 10px;
          letter-spacing: 0.22px;
          font-size: 16px;
          hr {
            width: 100%;
            opacity: 0.5;
          }
          .title {
            font-weight: 400 !important;
            line-height: 50px;
          }
          .description {
            font-weight: 300 !important;
            line-height: 25px;
          }
          &.map-incident {
            padding: 40px 55px 30px 50px;
            background-image: url("/assets/images/frame_map_2.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            &::before {
              content: "";
              background-image: url("/assets/images/dot-map.png");
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              right: -36px;
              top: 0;
              bottom: 0;
              width: 30px;
            }
          }
          .call-action {
            height: 100px;
            height: 35px;
            button {
              font-size: 12px;
              line-height: unset;
            }
          }
        }
        #map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .mobile-icon-back {
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 800;
  }
  .main-container {
    width: 100%;
    animation-name: showContent;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    bottom: 170px !important;
    font-size: 0.85rem !important;
    left: 50% !important;
    top: unset !important;
    max-width: calc(100% - 1rem);
    padding: 1rem;
    .content-wrapper {
      width: 100%;
      .content {
        padding: 40px 20px;
        .details {
          flex-direction: column;
          .details-item {
            width: 100%;
            font-size: 0.85rem !important;
            padding-top: 0;
            .title {
              line-height: 25px;
            }
            &.map-incident {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              height: 180px;
              width: 90%;
              #map {
                width: 80%;
                height: 80%;
              }
            }
          }
        }
        .call-action {
          margin-top: 10px !important;

          button {
            padding: 0 !important;
          }
        }
      }
    }
  }

  .hide {
    display: none !important;
  }
}

@keyframes showContent {
  from {
    transform: translate(-50%, 200%);
  }
  to {
    transform: translate(-50%, 25%);
  }
}
