<div class="backdrop"></div>
<div class="main-container">
  <div class="mobile-icon-back" (click)="closeClicked()">
    <img src="assets/images/left-arrow@1x.png" />
  </div>
  <div class="content-wrapper">
    <div class="content">
      <span class="tag-header">DETAILS</span>
      <span class="problem-name">{{ incident.description }}</span>
      <small class="id-truck">ID: {{ truckInfo.id }}</small>
      <div class="back-wrapper hide" (click)="closeClicked()">
        <div class="icon-back">
          <img src="assets/images/back_arrow.svg" />
        </div>
        <small>GO BACK</small>
      </div>
      <div class="details">
        <div class="details-item">
          <span class="title">Information</span>
          <p class="description">
            {{ incident.detailedDescription }}
          </p>
          <hr />
          <span class="title">Solution</span>
          <p class="description">{{ incident.solution }}</p>
          <div class="call-action">
            <img src="assets/images/driver.svg" />
            <button (click)="callDriver.emit()">CALL DRIVER</button>
            <button>TEXT DRIVER</button>
          </div>
        </div>
        <div class="details-item map-incident">
          <div
            #map
            id="map"
            leaflet
            (leafletMapReady)="onMapReady($event)"
            [leafletOptions]="mapOptions"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
