<div class="call-in-progress-wrapper">
    <div class="first-phone">
        <div class="top">
            <span class="name">Karter Cleve</span>
            <small class="name">1-855-636-4532</small>
            <small class="time">{{time}}</small>
        </div>
        <div class="bottom">
            <div class="call-end-dial">
                <div class="dial">
                    <img  src="../../../assets/images/phone/dial.png"/>
                </div>
                
                <div class="call-end" (click)="callEnd.emit()">
                    <img  src="../../../assets/images/phone/call_end.png"/>
                </div>
                
                <div class="speaker">
                    <img  src="../../../assets/images/phone/speaker.png"/>
                </div>

                
            </div>
        </div>

    </div>
</div>